<section>
  <div class="title">Knowledge, skills and abilities</div>
  <div class="blocks">
    <div class="block">
      <span class="title">
        I know:
      </span>
      <ul>
        <li>HTML5</li>
        <li>CSS3 + Sass</li>
        <li>JavaScript + TypeScript</li>
        <li>AngularJS and Angular2</li>
        <li>Ionic + Cordova/PhoneGap</li>
        <li>Git</li>
        <li>Gulp</li>
      </ul>
    </div>
    <div class="block">
      <span class="title">
        My skills:
      </span>
      <ul>
        <li>JavaScript Frameworks</li>
        <li>Web applications</li>
        <li>Responsive Web Design</li>
        <li>Mobile Applications</li>
        <li>Continuous integration system</li>
        <li>Image editing skills</li>
      </ul>
    </div>
    <div class="block">
      <span class="title">
        My abilities:
      </span>
      <ul>
        <li>Fast learner</li>
        <li>Teamwork</li>
        <li>Clear code</li>
        <li>Optimizing web apps</li>
      </ul>
    </div>
  </div>
</section>